<footer>
    <div class="nav-footer">
        <div class="container">
            <div class="shipping-deal">
                <div class="ship-box">
                    <div class="img-holder"><img src="images/shippingIcon.png" alt="shipping"></div>
                    <p>free shipping worldwide</p>
                </div>
                <div class="ship-box">
                    <div class="img-holder"><img src="images/returns.png" alt="returns"></div>
                    <p>free returns worldwide</p>
                </div>
                <div class="ship-box">
                    <div class="img-holder"><img src="images/returns.png" alt="returns"></div>
                    <p>100% safe & secure</p>
                </div>
                <div class="payement">
                    <div class="img-holder"><img src="images/DHL.png" alt="dhl"></div>
                    <div class="img-holder"><img src="images/PayPal.png" alt="paypal"></div>
                    <div class="img-holder"><img src="images/Stripe.png" alt="stripe"></div>
                </div>
                
            </div>
            <div class="divider"></div>
            <div class="footer-links">
                <div class="links">
                    <div class="links-box">
                        <a href="">shop</a>
                        <a href="">guarantee</a>
                        <a href="">made to fade</a>
                    </div>
                    <div class="links-box">
                        <a href="">about</a>
                        <a href="">shipping & returns</a>
                        <a href="">community</a>
                    </div>
                    <div class="links-box">
                        <a href="">blogs</a>
                        <a href="">contact</a>
                        
                    </div>
                </div>
                <div class="news-letter">
                    <div class="community">
                        <p>Be a part of our community</p>
                        <a href=""></a><a href=""></a>
                    </div>
                    <div class="input">
                        <label for="news-letter">join our news letter</label>
                        <div>
                            <input type="email" placeholder='enter your email'>
                            <input type="submit" value='join'>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <p>Made By <a href="" class="simple">Zakaria</a></p>
            <p>All rights reserved Zakaria Azaraf</p>
        </div>
    </div>
</footer>