<header >
    
        <h5>free shipping</h5>

        <nav>
            <div class='d-flex container'>

                <a href="/">
                    <svg class="svg svg-logo" viewBox="0 0 155.1 18" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M30.3,16.4h10v-1.5H32V1.5h-1.7V16.4z M47.4,16.4h1.9v-2.2h-1.9V16.4z M57.4,16.4H59V4.2l9.6,12.2
                            H70V1.5h-1.6v11.9L59,1.5h-1.6V16.4z M85.4,16.6c-4.5,0-7.5-3.5-7.5-7.6v0c0-4.1,3.1-7.7,7.6-7.7C90,1.3,93,4.8,93,8.9v0
                            C93,13,89.9,16.6,85.4,16.6z M85.5,15.1c3.4,0,5.8-2.7,5.8-6.1v0c0-3.4-2.5-6.1-5.8-6.1c-3.4,0-5.8,2.7-5.8,6.1v0
                            C79.6,12.3,82.1,15.1,85.5,15.1z M105.2,16.5h1.5l6.4-14.9h-1.8L106,14.3l-5.3-12.8h-1.9L105.2,16.5z M126.3,16.6
                            c3.7,0,6.2-2.2,6.2-6.6V1.5h-1.7v8.6c0,3.2-1.7,4.9-4.5,4.9c-2.8,0-4.5-1.8-4.5-5V1.5h-1.7v8.6C120.2,14.4,122.7,16.6,126.3,16.6z
                             M140.9,16.4h1.6v-12l5.4,7.9h0.1l5.4-7.9v12h1.7V1.5h-1.7L148,9.6l-5.4-8.1h-1.7V16.4z M10.7,1.3L7.2,6.6L8,7.8L13.1,0H0l10.7,16.7
                            H2.5l3.5-5.3l-0.8-1.2L0,18h13.1L2.4,1.3H10.7z"></path>
                    </svg>
                </a>
                <ul class='d-flex'>
                    <li><a href="">shop</a></li>
                    <li><a href="">community</a></li>
                    <li><a href="">made to fade</a></li>
                    <li><a href="">about</a></li>
                    <li><a href="">contact</a></li>
                </ul>
                <div>
                    <a href="" class="menu">menu</a>
                    <a href="" class="cart">
                        <svg class="svg svg-cart" viewBox="0 0 14.8 11" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M10.5,6.5H2.7L0,0h14.8v2H12L10.5,6.5z M4.1,4.5h5L9.9,2H3L4.1,4.5z"></path>
                            <path d="M10.6,9.6c0,0.8-0.7,1.4-1.5,1.4s-1.5-0.6-1.5-1.4s0.7-1.4,1.5-1.4S10.6,8.8,10.6,9.6"></path>
                            <path d="M5.4,9.6c0,0.8-0.7,1.4-1.5,1.4s-1.5-0.6-1.5-1.4s0.7-1.4,1.5-1.4S5.4,8.8,5.4,9.6"></path>
                        </svg>cart
                    </a>
                </div>
            </div>
        </nav>
    
</header>