<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="cloths shopping sotre">
    <link href='/styles/main.css' rel='stylesheet'>
    <title>eCommerce mern</title>
</head>

<body>

    <!-- INCLUDE THE HEADER FROM THE PARTIALS -->
    <%- include('./../partials/header.ejs') %>
            <%- body %>
    <%- include('./../partials/footer.ejs') %>
    <script src='/javascript/main.js'></script>
</body>

</html>