<main class="about-container">
    <div class="container">
        <h2>Amazing can only be achieved by breaking boundaries.</h2>
        <p>This was the mindset of designer Logan Bailey that sparked the creation of Ben Salek. Having left America to travel and
        experience the world, Logan eventually stumbled upon Bali, Indonesia in 2008, where he put down roots.</p>
    </div>
</main>