<main class='blog-container'>
    <div class="container">
        <div class="intro">
            <p class="title">blog</p>
            <h2 class='header-intro'>Welcome to behind the scenes of L.Novum</h2>
        </div>
        <div class="newsletter-container">
            <div class="newsletter-img">
                <img src="images/ozgeyagizz4.jpg" alt="ozgeyagizz">
                <span class="date">18 Oct, 2020</span>
                <p class="blog-title">ozgeyagizz's new looks in the summer</p>
            </div>
            <div class="newsletter-content">
                <p class="title">newsletter</p>
                <h3 class="content">
                    Don’t want to miss latest content?<br>
                    Sign up to our newsletter and become part of L.Novum club
                </h3>
                <form action="">
                    <input type="email" placeholder='Enter yout email' name='email' value=''>
                    <input type="submit" value='join' name='join'>
                </form>
            </div>
        </div>
    </div>
</main>