<main class='blog-container'>
    <div class="container">
        <div class="intro">
            <p class="title">blog</p>
            <h2 class='header-intro'>Welcome to behind the scenes of L.Novum</h2>
        </div>
    </div>
</main>