<main>
    <div class="community-bg">
        <img src="/images/Community-BG.jpg" alt="community-bg">
        <div class="container community-home">
            
            <h4 class='title'>L.NOVUM COMMUNITY</h4>
            <span class='dashed-title'></span>
            <h2 class='brand-quote'>Empowered by the people, worn across the globe</h2>
            <p class='content'>
                We’re inspired by the go-getters, the innovators, the dreamers; and our designs embody this very spirit. They’re built
                for adventuring, creating, and daring to disrupt the norm.
            </p>
        </div>
    </div>
</main>