<main>
    <div class="community-bg">
        <img src="/images/Community-BG.jpg" alt="community-bg">
        <div class="container community-home">
            <h1>Community page</h1>
        </div>
    </div>
</main>