<main class='community-section'>
    <div class="community-bg">
        <img src="/images/Community-BG.jpg" alt="community-bg">
        <div class="community-home">
            <div class="container community-body">
                <h4 class='title'>L.NOVUM COMMUNITY</h4>
                <span class='dashed-title'></span>
                <h2 class='brand-quote'>Empowered by the people, worn across the globe</h2>
                <p class='content'>
                    We’re inspired by the go-getters, the innovators, the dreamers; and our designs embody this very spirit. They’re built
                    for adventuring, creating, and daring to disrupt the norm.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="testimonials">
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz4.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz1.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz6.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagiz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz2.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz3.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz4.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz5.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz6.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
              
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz4.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz1.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz6.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagiz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz2.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz3.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz4.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz5.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
            <div class="testimonial">
                <div class="person-img">
                    <img src="/images/ozgeyagizz6.jpg" alt="ozgeyagizz">
                </div>
                <p class="product-testimonial">short skirt worn by</p>
                <a href="https://www.instagram.com/ozgeyagizz">
                    <svg class="svg svg-instagram" viewBox="0 0 25.5 25.5" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18.5,0H7C3.2,0,0,3.2,0,7v11.4c0,3.9,3.2,7,7,7h11.4c3.9,0,7-3.2,7-7V7C25.5,3.2,22.3,0,18.5,0z M18.5,23.2H7
                            c-2.6,0-4.8-2.1-4.8-4.8V7c0-2.6,2.1-4.8,4.8-4.8h11.4c2.6,0,4.8,2.1,4.8,4.8v11.4h0C23.2,21.1,21.1,23.2,18.5,23.2z M12.7,6.1
                            c-3.7,0-6.6,3-6.6,6.6c0,3.7,3,6.6,6.6,6.6s6.6-3,6.6-6.6C19.4,9.1,16.4,6.1,12.7,6.1z M12.7,17.1c-2.4,0-4.3-1.9-4.3-4.3
                            c0-2.4,1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3C17.1,15.1,15.1,17.1,12.7,17.1z M20.5,4.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.4-0.2,0.8-0.4,1.1
                            c-0.3,0.3-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.2-1.1-0.4C18,6.4,17.8,6,17.8,5.6c0-0.4,0.2-0.8,0.4-1.1c0.3-0.3,0.7-0.4,1.1-0.4
                            C19.8,4.1,20.2,4.2,20.5,4.5z">
                        </path>
                    </svg>ozgeyagizz
                </a>
            </div>
        </div>
        
              
        
    </div>
</main>