<main>
    <section class="guarantee-hero">
        <div class="wrapper">
            <img src="/images/viewpropertiesbytype-contentsection-components-2-insertions-0-background-style.jpg"
                alt="New York Fashion Week">
                <div class="content-container">
                    <div class="container">
                        
                        <p class="title">
                            guarantee
                        </p>
                        <h2 class="title">
                            If you're not happy, then neither are we
                        </h2>
                        
                    </div>
                </div>
        </div>
    </section>
    <section class="guarantee-rules">
        <div class="container">
            <div class="rule">
                <h4>Wow guarantee</h4>
                <p class="title">No compliments. No Problem.</p>
                <p>
                    Wearing your L.Novum piece should feel like an extension of you. We shoot great
                    photos, but know that our pieces look way better in real life. Unless you share the same experience, we will
                    happily refund your purchase. 
                </p>
                <p>
                    Wearing your L.Novum piece should feel like an extension of you. We shoot great
                    photos, but know that our pieces look way better in real life. Unless you share the same experience, we will
                    happily refund your purchase. 
                </p>
                <p>
                    Wearing your L.Novum piece should feel like an extension of you. We shoot great
                    photos, but know that our pieces look way better in real life. Unless you share the same experience, we will
                    happily refund your purchase. 
                </p>
            </div>
            <div class="rule">
                <h4>Size Matters…</h4>
                <p class="title">...for some of our pieces</p>
                <p>
                    So if you got a piece that does not fit right, we will send you a different size right away. Just let us know asap,
                    safely wrap it and send the wrong size piece to us. We will take care of the rest. Pro tip – you can always print out
                    our 1:1 scale sizing guide to check the best size for you before you buy. And if you’re still unsure, just shoot us a
                    message and we’ll help you pick the right one.
                </p>
            </div>
            <div class="rule">
                <h4>Wow guarantee</h4>
                <p class="title">No compliments. No Problem.</p>
                <p>
                    Wearing your L.Novum piece should feel like an extension of you. We shoot great
                    photos, but know that our pieces look way better in real life. Unless you share the same experience, we will
                    happily refund your purchase. 
                </p>
                <p>
                    Wearing your L.Novum piece should feel like an extension of you. We shoot great
                    photos, but know that our pieces look way better in real life. Unless you share the same experience, we will
                    happily refund your purchase. 
                </p>
                <p>
                    Wearing your L.Novum piece should feel like an extension of you. We shoot great
                    photos, but know that our pieces look way better in real life. Unless you share the same experience, we will
                    happily refund your purchase. 
                </p>
            </div>
        </div>
    </section>
</main>