<main>
    <section class='hero'>
        <div class="slides">
            <div class="slide">
                <img src="images/1.jpg" alt="">           
                <div class="content-container">
                    <div class="container">
                        <div class="content">
                            <div class="circles">
                                <span class="circle active"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                            </div>
                            <h2 class='title'>INFIN8 NECKLACE</h2>
                        </div>
                        <div class="shop-description">
                            <p class="description">Oxidised sterling silver & black spinels</p>
                            <a href="" class='btn'>shop now</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="slide">
                <img src="images/2.jpg" alt="">           
                <div class="content-container">
                    <div class="container">
                        <div class="content">
                            <div class="circles">
                                <span class="circle active"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                            </div>
                            <h2 class='title'>INFIN8 NECKLACE</h2>
                        </div>
                        <div class="shop-description">
                            <p class="description">Oxidised sterling silver & black spinels</p>
                            <a href="" class='btn'>shop now</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="slide">
                <img src="images/3-1.jpg" alt="">           
                <div class="content-container">
                    <div class="container">
                        <div class="content">
                            <div class="circles">
                                <span class="circle active"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                            </div>
                            <h2 class='title'>INFIN8 NECKLACE</h2>
                        </div>
                        <div class="shop-description">
                            <p class="description">Oxidised sterling silver & black spinels</p>
                            <a href="" class='btn'>shop now</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="slide">
                <img src="images/LNovum-mens-jewelry-accessories_0001_Seed-necklace-header-e1555944673372.jpg" alt="">           
                <div class="content-container">
                    <div class="container">
                        <div class="content">
                            <div class="circles">
                                <span class="circle active"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                            </div>
                            <h2 class='title'>INFIN8 NECKLACE</h2>
                        </div>
                        <div class="shop-description">
                            <p class="description">Oxidised sterling silver & black spinels</p>
                            <a href="" class='btn'>shop now</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="slide">
                <img src="images/Lnovum-shop-products-mens-accessories-5-1-e1555969426422.jpg" alt="">           
                <div class="content-container">
                    <div class="container">
                        <div class="content">
                            <div class="circles">
                                <span class="circle active"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                                <span class="circle"></span>
                            </div>
                            <h2 class='title'>INFIN8 NECKLACE</h2>
                        </div>
                        <div class="shop-description">
                            <p class="description">Oxidised sterling silver & black spinels</p>
                            <a href="" class='btn'>shop now</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>
<script>
    const slides = document.querySelector('.slides')
    console.log(slides)
</script>