<main>
    <div class="made-to-fade">
        <div class="container">
            <div class="content">
                <p class='title'>made to fide</p>
                <h2>fashion trends to try this season</h2>
            </div>
        </div>
    </div>
</main>