<form action='/users' method="POST" class='form'>
    <div>
        <label>firstname: </label>
        <input type='text' name='firstname' id='firstname' value=''>
    </div>
    <div>
        <label>lastname: </label>
        <input type='text' name='lastname' id='lastname' value=''>
    </div>
    <div>
        <label>email: </label>
        <input type='text' name='email' id='email' value=''>
    </div>
    <div>
        <label>password: </label>
        <input type='text' name='password' id='password' value=''>
    </div>
    <button type='submit' class='btn'>Add User</button>
</form>