<main>
    <section class="guarantee-hero shipping-return">
        <div class="wrapper">
            <img src="/images/backgroundWallpapers/shipReturn.jpg" alt="men fashion">
            <div class="content-container">
                <div class="container">

                    <p class="title">
                        shipping & return
                    </p>
                    <h2 class="title">
                        A first class experience from start to finish.
                    </h2>

                </div>
            </div>
        </div>
    </section>

    <section class="shpping-return-process">
        <div class="container">
            <h3>Free shipping worldwide</h3>
            <div class="process">
                <div class="shipping">
                    <p class="title">shipping</p>
                    <p>
                        We typically ship within 24 hours of placing your order; however, some orders may take up to 48 hours to process. Please
                        note that we do not ship on Saturdays or Sundays
                    </p>
                    <p>
                        All orders will arrive within 3-5 business days. We offer complimentary shipping worldwide. However, we don’t ship to
                        countries that are not operated by DHL. All orders are shipped and tracked via DHL.
                    </p>
                    <p>
                        L.Novum is not responsible for any delays caused by the customs clearance process, or taxation in overseas countries.
                    </p>
                    <p>
                        L.Novum is not responsible for lost package due to incorrect address supplied by the sender.
                    </p>
                    <p>
                        For more information and shipping inquiries contact: <br><a href="mailto:zakariaazaraf@gmail;com">zakariaazaraf@gmail.com</a>
                    </p>

                </div>
                <div class="return">
                    <p class="title">return process</p>
                    <p>
                        Change of heart? No problem, we accept exchange or refunds within 30 days after delivery.
                    </p>
                    <p>
                        You purchase should be returned in saleable condition with all product packaging (box, bag and care card). Insured that
                        the item is safely wrapped in its cloth to avoid scratches. Any damage caused by negligence in the return process will
                        be the customer’s responsibility.
                    </p>
                    <p>
                        Goods will be refunded upon inspection on arrival (excluding the original delivery charge). Please note that resized
                        items, customized, damaged or otherwise altered after delivery will not be accepted for return. Return shipping charges
                        are not refundable.
                    </p>
                    <p>
                        The item is your responsibility until it reaches us. Therefore, for your own protection, we recommend that you send the
                        parcel using a traceable delivery service.
                    </p>
                    <p>
                        To determine the best return process, please contact us at: <br><a href="mailto:zakariaazaraf@gmail;com">zakariaazaraf@gmail.com</a>
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="footer-hero footer-hero-made-to-fade">
        <div class="wrapper">
            <img src="\images\backgroundWallpapers\bg-blackInFashion.jpg" alt="fashion week">
            <div class="content">
                <h4>discover our shop now</h4>
                <a href="/shop" class="btn">shop all product</a>
            </div>
        </div>
    </section>
</main>