<div class="body-wrapper shopping-card">  
    <div class="container">
        <h4>Your Card Is Empty</h4>
        <p>You Have no item in your shopping card</p>
        <a href='/' class='btn'>continue shopping</a>
    </div>
</div>