<form action='/categories' method="POST" class='form'>
    <div>
        <label>name: </label>
        <input type='text' name='name' id='name' value=''>
    </div>
    <div>
        <label>description: </label>
        <textarea name='description' id='description' value=''></textarea>
    </div>

    <button type='submit' class='btn'>Add categorie</button>
</form>