@font-face {
  font-family: Gothama;
  src: url("./../fonts/GothamMedium_1.ttf");
  src: url("./../fonts/GothamMedium.ttf");
  src: url("./../fonts/GothamLight.ttf");
  src: url("./../fonts/GothamBold.ttf");
  src: url("./../fonts/Gotham-Bold.otf");
  src: url("./../fonts/Gotham-Light.otf");
  src: url("./../fonts/Gotham-Black.otf");
  src: url("./../fonts/Gotham-Thin.otf");
  src: url("./../fonts/GothamBook.ttf");
}

:root {
  --header-max-height: 145px;
  --main-height: 100vh;
  --pseudo-background: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Gothama;
  letter-spacing: 3px;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: transparent;
  z-index: 100;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1260px;
  flex-grow: 1;
  padding: 0 2rem;
}

.btn {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: 1rem 2.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
}

a.simple {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.cart,
.menu {
  position: relative;
}
.cart .svg {
  position: absolute;
  top: 5.5px;
  left: -8px;
  width: 15px;
  height: 15px;
  fill: #fff;
  line-height: 1;
  transition: all 0.5s ease;
}

.menu::after {
  content: "";
  position: absolute;
  left: -8px;
  top: 15px;
  height: 1.6px;
  width: 15px;
  background-color: var(--pseudo-background);
}

.menu::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 10px;
  height: 1.6px;
  width: 15px;
  background-color: var(--pseudo-background);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.cart:hover > svg {
  fill: rgb(172, 170, 170);
}

header > * {
  width: 100%;
}

header h5 {
  padding: 0.8rem 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header nav {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem !important;
  color: #fff;
  opacity: 1;
  transform: translateX(0);
  animation-name: fade-reverse;
  animation-duration: 2s;
}

header nav .container {
  justify-content: space-between !important;
}

header nav div > a svg {
  width: 150px;
  fill: #fff;
}

header nav ul {
  list-style: none;
}

header nav a {
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 6px;
  transition: all 0.5s ease;
}
header nav .container > a:first-child {
  padding-left: 0;
}

header nav .container div a:last-child {
  padding-right: 0;
}
header nav a:hover {
  color: rgb(172, 170, 170);
}

main .hero {
  max-width: 100vw;
  height: 100vh;
  background-color: #000;
}

main .hero .slides {
  height: 100%;
}

main .hero .slide {
  position: relative;
  height: 100%;
  width: 100%;
  display: none;
}

/* ACTIVE SLIDE */
main .hero .slide.active {
  display: block;
}

main .hero .slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero .slide .content-container {
  position: absolute;
  left: 0;
  top: var(--header-max-height);
  width: 100%;
  height: calc(100% - var(--header-max-height));
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 1;
  transform: translateX(0);
  animation-name: fade;
  animation-duration: 2s;
}

main .hero .slide .content-container * {
  margin: 1rem 0;
}

main .hero .slide .content-container .content .title {
  width: 60%;
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: 6px;
}

main .hero .slide .content-container .content .circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: transparent;
  margin: 1rem;
  border: 1.7px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

main .hero .slide .content-container .content .circle:first-child {
  margin-left: 0;
}

main .hero .slide .content-container .content .circle.active {
  background-color: #fff;
}

main .hero .slide .content-container .shop-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* Provers Section */
.proverb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 2.7rem;
  padding: 6rem 2rem;
  letter-spacing: normal;
  transition: all 1.5s ease;
  overflow: hidden;
}

.proverb.active {
  opacity: 1;
  transform: translateX(0);
}

.proverb > * {
  padding: 1rem;
}

.proverb svg.active {
  opacity: 1;
  transform: translateX(0);
}
.proverb svg {
  width: 100px;
  opacity: 0;
  transform: translateX(600px);
  transition: all 1.5s ease;
}

.proverb h2.active {
  opacity: 1;
  transform: translateX(0);
}
.proverb h2 {
  opacity: 0;
  transform: translateX(-600px);
  transition: all 1.5s ease;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* Product Section */
section.product {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

section.product article {
  width: 50%;
  height: 500px;
}

section.product article:nth-child(n + 1) {
  opacity: 1;
  transform: translateX(0);
  animation: fade-reverse 1.5s ease;
}

section.product article:nth-child(n + 2) {
  opacity: 1;
  transform: translateX(0);
  animation: fade 1.5s ease;
}

section.product article a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section.product article a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background: linear-gradient(
    184deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  z-index: 20;
  opacity: 0;
}

section.product article img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section.product article a .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  z-index: 22;
  color: #fff;
  transform: translateY(40px);
  transition: all 0.5s ease;
}

section.product article a .content > * {
  padding: 0.5rem;
}

section.product article a:hover .content {
  transform: translateY(0);
  color: #000;
}

section.product article a:hover::after {
  opacity: 1;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* Product Section */
section.masterpiece {
  display: flex;
  justify-content: center;
  background: url("./../images/2.jpg") center no-repeat;
  color: #fff;
  letter-spacing: normal;
  font-weight: lighter;
}

section.masterpiece .container * {
  padding: 1rem 0;
}

section.masterpiece .title {
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-left: 3rem;
  position: relative;
}

section.masterpiece .title::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 1.6rem;
  width: 30px;
  height: 1px;
  background-color: #fff;
}

section.masterpiece .content {
  padding: 5rem 0;
  width: 50%;
  font-size: 1.2rem;
}

section.masterpiece .content .description {
  line-height: 2;
  letter-spacing: 1.4px;
}

/* FOOTER STAYLE */
footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #fff;
  padding: 2rem 0;
  letter-spacing: normal;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-reverse {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
